
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #121e28;
    color: #fff;
}

.header{    
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.header .logo{
    font-weight: bolder;
    font-size: larger;
}

.header .navbar .menu{
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.home{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
}

.home div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-top: 30px;

}

.home .home-text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-right: 80px;
}

.home .home-text h1{
    display: flex;
    flex-flow: row nowrap;
    font-size: 44px;
}

.home .home-text h1 .dot{
    color: #ff715a;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.home .home-text p{
    padding: 10px 0;
    font-size: large;
}

.home .home-text .neglito{
    font-size: xx-large;
    font-weight: bolder;
    color: #ff715a;
}

.home .home-image img{
    max-width: 300px;
    border-radius: 50%;
}

.home .ability{
    flex-flow: row wrap;
    position: absolute;
    background-color: #17232d;
    color: #525252;
    padding: 15px;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.ability {
  display: flex;
  list-style: none;
  gap: 25px;
}

.about{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 100px; 
    align-items: center;
    padding: 10px;
}

.about .service{
    width: 300px;
    
}

.about .service div{
    border-left: 3px solid #ff715a;
    margin: 5px;
    display: flex;
    flex-flow: row nowrap;
}

.about .service div .icons{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.about .service div p{
    transform: translateY(19px);
}

.about .service span{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ff715a;
    margin: 10px;
} 


.about .about-text{
    width: 500px;
}

.about .about-text h2{
    margin-bottom: 20px;
}

.about .about-text p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





